html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: $max-page-width;
}

.nav-primary {
  padding: 10px 15px;
  background: #632b6c;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    
    &.logo {
      font-size: 2rem;
    }

    &.active{
      text-decoration: underline;
    }
  }
}

main {
  padding: 10px $page-padding-x;
}

footer {
  padding: 10px $page-padding-x;
  text-align: right;
}